html, body, #root{
  height: 100%;
}
.height-100{
  height: 100%;
}
.header{
  display:flex;
  justify-content: space-between;
  
  
}

.content{
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  justify-content:center;
  
  h1{
    font-size:350%;
    color:#D5EEBB;
    margin-top:8%;
    
  }
}

