
html, body, #root{
  height: 100%;
}
.height-100{
  height: 100%;
}
.header{
  display:flex;
  justify-content: space-between;
  
  
}

.content{
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  justify-content:center;
  
  h1{
    font-size:350%;
    color:#D6AD60;
    margin-top:8%;
    
  }
  h1:hover{
    
    color:#D5EEBB;
    
    
  }
}

.contact-image{
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  justify-content:center;
  
  h1{
    font-size:350%;
    color:#D5EEBB;
    margin-top:8%;
    
  }
  label{
    color:#B68D40;

  }

  button{
    background-color: #B68D40;
    border-color: #D6AD60;
  }
  button:hover{
    background-color: #B68D40;
  }
  

}

.contact-information{
  h2{
    color:#B68D40;
  }
  h2:hover{
    color:#D5EEBB ;
  }
  p{
    color:#D6AD60;
  }
  p:hover{
    color:aquamarine;
  }
}

.about-us{
  width: 80%;
  padding-top: 5%;
  
  h2{
    padding-left: 17%;
    font-weight: bold;
    color:#B68D40;
  }
  
  

  .about-text{
    padding-left: 17%;
    padding-top: 1%;
    text-align: left;
    width: 60%;
    color:wheat;
    font-size: 15px;
    line-height: 2;
  }
}


.portfolio-content{
  margin-left: 24%;
  margin-top: 2%;
  width: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  justify-content:space-around;
  text-align: center;
  flex-wrap: wrap;
  .portfolio-images{
    margin-top:4%;
    margin-left: 2%;
  }
  h1{
    color: #B68D40;
  }
  
}